body{
    font-family: courier;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

#main{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    position: absolute;
}

div{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.block{
    text-align: center;
    padding-top: auto;
}

#cover{
    background-color: rgba(255,255,255,0.7);
    display: none;
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
}

#info{
    display: none;
    border-radius: 15px; 
    background-color: black;
    color: white;
    border-radius: 15px;
    color: black;
    width: 50%;
    height: 50%;
    padding: 20px;
    text-align: center;
    vertical-align: center;
    border: 2px black;
    overflow: scroll;
}


#x{
    text-align: left;
    text-align: right;
    padding: 2px;
}

#x:hover{
    color: white;
}
span{
    line-height: 100px;
}
