body{
    background-color: black;
}

.bar{
}

#colors{
    width: 100%;
}

.stripe{
    float: left;
    height: 100%;
}

.textDiv{
    width: 33%;
    height:20%;
    float: left;
}

.colorDiv{
    height: 50%;
    width: 33%;
    float: left;
    border-radius: 15px;
}

.bar{
    border-radius: 15px 15px 0px 0px;
    color: black;
}
